<div class="m-4">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
          <a href="{% url 'home' %}" class="navbar-brand">NotesKeeper</a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
              <form method="GET" action="{% url 'home' %}" class="d-flex">
                  <div class="input-group">
                      <input type="text" name="search" placeholder="Search for boards..." class="form-control">
                      <button type="button" class="btn btn-secondary"><i class="bi-search"></i></button>
                  </div>
              </form>
              {% if not request.user.is_authenticated %}
                <div class="navbar-nav">
                  <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
                </div>
              {% else %}
                <div class="navbar-nav">
                  <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">More</a>
                    <div class="dropdown-menu">
                        <a href="settings.html" class="dropdown-item">Settings</a>
                        <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                    </div>
                  </div>
                  <a href="{% url 'profile' request.user.id %}" class="nav-item nav-link">@{{request.user.username}}</a>
                </div>
              {% endif %}
          </div>
      </div>
  </nav>
</div>