@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Josefin+Sans&family=Oswald:wght@500&family=Poppins:wght@400;700&family=Roboto:wght@300&display=swap');

/* WORKING WITH BOOTSTRAP */
.btnAdd:hover{
    opacity: 0.8;
}

.pntName:hover{
    opacity: 0.8;
}

.pntName {
    color: white;
}