{% extends 'main.html' %}

{% block content %}

<main>
    <div class="container rounded border border-white px-4" style="background-color: #121212; width:50%; margin-top: 200px;">
        <h3 class="text-center mt-4 py-4 text-white">Create | Update Your Board</h3>
        <form class="row py-4" action="" method="POST">
            {% csrf_token %}
            <div class="col-12">
                <label for="inputBoardName" class="form-label text-white">Board Name</label>
                {% if form.name.value != None %}
                    <input required type="text" class="form-control  text-white" id="inputBoardName" value="{{form.name.value}}" name="name" style="background-color: #121212;" />
                {% else %}
                    <input required type="text" class="form-control  text-white" id="inputBoardName" name="name" placeholder="Choose name for this board..." style="background-color: #121212;" />
                {% endif %}
            </div>
            <div class="col-12 gy-4">
                <button type="submit" class="btn btn-primary">Create | Update</button>
                <a class="btn btn-primary" href="{{request.META.HTTP_REFERER}}" style="margin: 10px;">Cancel</a>
            </div>
        </form>
    </div>
</main>


{% endblock %}