{% extends 'main.html' %}

{% block content %}

<main>
    <div class="container-lg">
        <div>
            <h2 class="text-center mt-3 text-white">Boards</h2>
        </div>
        <div class="row">
            <div class="col-xl-4" style="padding: 20px;">
                <a href="{% url 'create-board' %}" style="padding: 20px;"><button class="btn btn-primary" style="height: 200px; width: 90%;"><h3 class="text-white">Create Board</h3></button></a>
            </div>
            {% for board in boards %}
                <div class="col-xl-4" style="padding: 20px;">
                    <div class="container rounded border border-white" style="height: 200px; width: 90%; background-color: #121212;">
                        <div class="position-relative top-50 start-50 translate-middle">
                            <div class="row">
                                <div class="col">
                                    <a href="{% url 'profile' board.owner.id %}" style="text-decoration: none;">
                                    <span>@{{board.owner}}</span>
                                    </a>
                                </div>
                                <div class="col-auto">
                                    <div class="text-white">{{board.created|timesince}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <a href="{% url 'board' board.id %}" style="text-decoration: none;"><h3 class="text-white">{{board.name}}</h3></a>
                                    <p class="text-secondary">Number of Notes: {{board.note_set.all.count}}</p>
                                </div>
                                {% if request.user == board.owner %}
                                    <div class="col-12">
                                        <a class="btn btn-primary" href="{% url 'update-board' board.id %}" style="text-decoration: none;">Rename</a>
                                        <a class="btn btn-warning" href="{% url 'delete-board' board.id %}" style="text-decoration: none;">Delete</a>
                                    </div>
                                {% endif %}
                            </div>     
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock %}