{% extends 'main.html' %}

{% block content %}

<main class="noteForm layout">
    <div class="container">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <a href="{% url 'home' %}">Home</a>
                    <h3>Create/Update Your Note</h3>
                </div>
            </div>
            <div class="layout__body">
                <form class="form" method="POST">
                    {% csrf_token %}
                    <div class="form__group">
                        <label for="board_name">Note Topic</label>
                        {{form.topic}}
                    </div>
                    <div class="form__group">
                        <label for="board_name">Note Content</label>
                        {{form.body}}
                    </div>
                    <div class="form__action">
                        <a class="btn btn--dark" href="">Cancel</a>
                        <button class="btn btn--main" type="submit">Create/Update Note</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>


{% endblock %}