{% extends 'main.html' %}

{% block content %}
<main class="profile-page layout layout--3">
    <div class="container-lg">
        <div class="boards">
            <div class="profile">
                <div class="profile__info">
                    <h3 class="text-center mt-3">@{{user.username}}</h3>
                    <!-- <a href="edit-user.html" class="btn btn--main btn--pill">Edit Profile</a> -->
                </div>
            </div>
            <div class="boards__header">
                <h2 class="text-center mt-3">User Boards</h2>
            </div>
            <div class="row">
                {% if request.user == user %}
                    <div class="col-xl-4" style="padding: 20px;">
                        <div class="container border" style="height: 200px; width: 90%;">
                            <li>
                                <a class="btn btn--main" href="{% url 'create-board' %}">Create Board</a>
                            </li>
                        </div>
                    </div>
                {% endif %}
                {% for board in user_boards %}
                    <div class="col-xl-4" style="padding: 20px;">
                        <div class="container border" style="height: 200px; width: 90%;">
                            <li>
                                <a href="{% url 'board' board.id %}">{{ board }}</a>
                                {% if request.user == user %}
                                <a href="{% url 'update-board' board.id %}">Rename</a>
                                <a href="{% url 'delete-board' board.id %}">Delete</a>
                                {% endif %}
                            </li>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- <ul class="boards__list">
                {% for board in user_boards %}
                <li>
                    <a href="{% url 'board' board.id %}">{{ board }}</a>
                    {% if request.user == user %}
                    <a href="{% url 'update-board' board.id %}">Rename</a>
                    <a href="{% url 'delete-board' board.id %}">Delete</a>
                    {% endif %}
                </li>
                {% endfor %}
                <li>
                    {% if request.user == user %}
                    <a class="btn btn--main" href="{% url 'create-board' %}">Create Board</a>
                    {% endif %}
                </li>
            </ul> -->
        </div>
        <div class="notes">
            <div class="notes__header">
                <h2 class="text-center mt-3">User Notes</h2>
            </div>
            <div class="row">
                {% for note in user_notes %}
                <div class="col-xl-4" style="padding: 20px;">
                    <div class="container border" style="height: 200px; width: 90%;">
                        <li>
                            {% if request.user == user %}
                            <a href="{% url 'update-note' note.id %}">{{ note }}</a>
                            <a href="{% url 'delete-note' note.id %}">Delete</a>
                            {% else %}
                            <a href="{% url 'note' note.id %}">{{ note }}</a>
                            {% endif %}
                        </li>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- <ul class="notes__list">
                {% for note in user_notes %}
                <li>
                    {% if request.user == user %}
                    <a href="{% url 'update-note' note.id %}">{{ note }}</a>
                    <a href="{% url 'delete-note' note.id %}">Delete</a>
                    {% else %}
                    <a href="{% url 'note' note.id %}">{{ note }}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul> -->
        </div>
    </div>
</main>
<!-- 
<div>
    <h2>@{{user.username}}</h2>
    <ul>
        {% for board in user_boards %}
           <li><a href="{% url 'board' board.id %}">{{ board }}</a></li>
           <a href="{% url 'update-board' board.id %}">Update</a> 
           <a href="">Delete</a>
           <hr>
        {% endfor %}
    </ul>
    <a href="{% url 'create-board' %}">Create Board</a>
    <hr>
    <ul>
        {% for note in user_notes %}
           <li><a href="{% url 'note' note.id %}">{{ note }}</a></li>
           <a href="{% url 'update-note' note.id %}">Update</a> 
           <a href="">Delete</a>
           <hr>
        {% endfor %}
    </ul>
</div> -->

{% endblock %}